body {
    background-color: #d0d4be;
    background-image: url("/assets/img/rick-and-morty-3.jpg");
}

h5,
p,
div {
    color: rgb(63, 20, 220);
    text-shadow: 2px 2px 4px #0890eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

button {
    margin-left: 500px;
    height: 150px;
    width: 300px;
}